<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,user-scalable=yes">
  <meta name="description" content="Downloadable code examples for CSS Master, 3rd edition.">

  <title>  Mixing Flex Units and Length Units
 CSS Master (third edition)</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Inconsolata&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Zilla+Slab:ital,wght@0,700;1,700&family=IBM+Plex+Mono&display=swap">
  <link rel="stylesheet" href="/theme/css/global.css">

  <link rel="stylesheet" href="../../theme/css/grid-base.css" id="Grid_CSS">


  <style>
    .demo__grid h2 {
      font: inherit;
    }
    .demo__grid p {
      font-size: 1.6rem;
    }
    .demo__grid {
      display: grid;
      grid-template-columns: 25rem 2fr 1fr;
    }
  </style>

</head>

<body >
  <header id="top">
    <div>
      <h1><i>CSS Master</i> Code Examples</h1>
  <nav aria-label="Breadcrumb">
    <ol>
      <li><a href="../../">Home</a></li>
      <li>
          <a href="../">CSS Layout</a>
      </li>
      <li><a href="./" aria-current="page">Mixing Flex Units and Length Units</a></li>
    </ol>
  </nav>
    </div>
  </header>
  <!-- end header -->

  <main>
  <h2>Mixing Flex Units and Length Units</h2>



  <p>This example combines <em>flex units</em> and a traditional length as part of its <code>grid-template-columns</code> definition: <code>grid-template-columns: 25rem 2fr 1fr</code>. Notice that the second column is about twice as wide as the third. This proportion remains consistent as long as there is enough leftover space within the container.</p>
<p><b>Related specification:</b> <a href="https://www.w3.org/TR/css-grid-1/">CSS Grid Layout Module Level 1</a>.</p>
<div class="demo__grid">
  <div>Grid item A</div>
  <div class="text__light">Grid item B</div>
  <div>Grid item C</div>
  <div>
    <h2>Grid item D</h2>
    <p>This grid item contains more content than its siblings. As a result, it also affects the size of this track (its row, in this case). Notice that all of the boxes in this row are the same height.
  </div>
  <div>Grid item E</div>
  <div class="text__light">Grid item F</div>
  <div class="text__light">Grid item G</div>
  <div>Grid item H</div>
</div>


  </main>

  <!-- Global site footer -->
  <footer class="global">
    <p>Examples from <i>CSS Master</i> (3rd edition) written by Tiffany B. Brown and published by SitePoint, Ltd. &copy; 2015 &ndash; 2021.</p>
  </footer>

  <script src="/theme/js/escapereset.js"></script>


</body>
</html>