<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,user-scalable=yes">
  <meta name="description" content="Downloadable code examples for CSS Master, 3rd edition.">

  <title>  Understanding Flexbox
 CSS Master (third edition)</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Inconsolata&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Zilla+Slab:ital,wght@0,700;1,700&family=IBM+Plex+Mono&display=swap">
  <link rel="stylesheet" href="/theme/css/global.css">

  <link rel="stylesheet" href="../../theme/css/grid-base.css" id="Grid_CSS">


  <style>
    legend {
      font-weight: bold;
    }

    form > fieldset,
    form > details {
      background: var( --palette-t-80 );
      padding: 1rem;
      margin: 2rem 0;
    }

    fieldset div details {
      padding: 0;
    }

    summary {
      cursor: pointer;
    }

    fieldset p {
      margin: 1rem 0;
    }

    input,
    select {
      font: inherit;
      font-size: 2.4rem;
    }

    legend {
      padding: 0;
    }

    [type=checkbox] + label::before {
      background: #fff;
    }

    .flexbox {
      background: var( --palette-t );
      display: flex;
      padding-left: 0;
      list-style-type: none;
      overflow-y: auto;
    }

    .flexbox li {
      padding: 1rem;
      margin: 0;
    }

    .flex-item-id {
      font-size: 5rem;
      font-weight: bold;
      text-align: center;
    }

    .flex-item-id p {
      font-size: 1rem;
      font-weight: normal;
      text-align: left;
    }

    .alpha {
        background-color: var( --palette-j-80 );
    }

    .beta {
        background-color: var( --palette-n-80 );
    }

    .gamma {
        background-color: var( --palette-e-80 );
    }

    .delta {
        background-color: var( --palette-k-80 );
    }

    .epsilon {
        background-color: var( --palette-o-80 );
    }

    .zeta {
        background-color: var( --palette-l-80 );
    }

    .eta {
        background-color: var( --palette-i-80 );
    }

    .theta {
        background-color: var( --palette-r-80 );
    }

    .iota {
        background-color: var( --palette-k-80 );
    }



    [id="container"] details div {
      display: grid;
      gap: 1rem;
      grid-template-areas: "a a a b b b"
                           "c c c c c c"
                           "d d e e f f"
                           "g g g g g g"
    }

    [id=flex-dir] {
      grid-area: a;
    }

    [id=flex-wrap] {
      grid-area: b;
    }

    [id=flex-flow] {
      grid-area: c;
      font-style: italic;
      text-align: right;
    }


    [id=justify] {
      grid-area: d;
    }

    [id=align-items] {
      grid-area: e;
    }

    [id=align-content] {
      grid-area: f;
    }

    [id=gap] {
      grid-area: g;
    }

    [id=all-flex] div {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap:  2rem;
    }

    [id=output-flex] {
      font-weight: bold;
      padding-left: 0;
      list-style: none;
    }

    [id="flex-prop"] {
      align-items: center;
      display: flex;
      gap:  1rem;
      justify-content: space-between;
    }

    [id="flex-prop"] > * {
      flex: 1;
    }

    [data-affect] details[ open ] div {
      display: flex;
      justify-content: space-between;
    }

  </style>

</head>

<body >
  <header id="top">
    <div>
      <h1><i>CSS Master</i> Code Examples</h1>
  <nav aria-label="Breadcrumb">
    <ol>
      <li><a href="../../">Home</a></li>
      <li>
          <a href="../">CSS Layout</a>
      </li>
      <li><a href="./" aria-current="page">Understanding Flexbox</a></li>
    </ol>
  </nav>
    </div>
  </header>
  <!-- end header -->

  <main>
  <h2>Understanding Flexbox</h2>



  <p>Adjust the values in the form control to see their effect. <b>Related specification:</b> <a href="https://drafts.csswg.org/css-flexbox-1/">CSS Flexible Box Layout Module Level 1</a>.</p>
<ul class="flexbox">
  <li class="alpha">
      <div class="flex-item-id">A</div>
  </li>
  <li class="beta">
      <div class="flex-item-id">
        B
        <p>A certain king had a beautiful garden, and in the garden stood a tree which bore golden apples. These apples were always counted, and about the time when they began to grow ripe it was found that every night one of them was gone.</p>
      </div>
  </li>
  <li class="gamma">
      <div class="flex-item-id">C</div>
  </li>
 <li class="delta">
      <div class="flex-item-id">
        D
        <p>The king became very angry at this, and ordered the
gardener to keep watch all night under the tree.</p>
      </div>
  </li>
  <li class="epsilon">
      <div class="flex-item-id">
        E
        <p>The gardener set his eldest son to watch; but about twelve o’clock he fell asleep, and in the morning another of the apples was missing. Then the second son was ordered to watch; and at midnight he too fell asleep, and in the morning another apple was gone.</p>
      </div>
  </li>

  <li class="zeta">
      <div class="flex-item-id">
        F
        <p>Then the third son offered to keep watch; but
the gardener at first would not let him, for fear some harm should come to him: however, at last he consented, and the young man laid himself under the tree to watch.</p>
      </div>
   </li>

    <li class="eta">
        <div class="flex-item-id">
          G
        </div>
    </li>

    <li class="theta">
        <div class="flex-item-id">
          H
          <p><p>Then the gardener’s eldest son set out and thought to find the golden
bird very easily; and when he had gone but a little way, he came to a
wood, and by the side of the wood he saw a fox sitting; so he took his
bow and made ready to shoot at it. Then the fox said, ‘Do not shoot me,
for I will give you good counsel; I know what your business is, and
that you want to find the golden bird.</p>
        </div>
    </li>


    <li class="iota">
        <div class="flex-item-id">
          I
        </div>
    </li>


</ul>

<p>Text from <em>The Golden Bird</em>, part of the <em>Grimms’ Fairy Tales</em> collection, by Jacob Grimm and Wilhelm Grimm</p>
<!-- this is set up as a partial in flex-items-form -->


<form>
    <fieldset id="container">
      <div>
      <legend class="trigger">Flex container properties</legend>
      <details open>
        <summary>Properties that apply to the flex container</summary>
        <div>
          <p id="flex-dir">
              <label for="flexDirection" class="code">flex-direction:</label>
              <select id="flexDirection" data-target="container" data-prop="flexDirection">
                <option selected>row</option>
                <option>row-reverse</option>
                <option>column</option>
                <option>column-reverse</option>
              </select>
          </p>

          <p id="flex-wrap">
              <label for="flexWrap" class="code">flex-wrap:</label>
              <select id="flexWrap" data-target="container" data-prop="flexWrap">
                <option selected>nowrap</option>
                <option>wrap</option>
                <option>wrap-reverse</option>
              </select>
          </p>

          <p id="flex-flow">The properties above can also be combined using the <a href="http://dev.w3.org/csswg/css-flexbox-1/#propdef-flex-flow" target="_blank"><code>flex-flow</code></a> shorthand property.</p>

          <p id="justify">
              <label for="justifyContent" class="code">justify-content:</label>
              <select id="justifyContent" data-prop="justifyContent" data-target="container">
                <option selected>normal</option>
                <option>flex-start</option>
                <option>flex-end</option>
                <option>start</option>
                <option>end</option>
                <option>center</option>
                <option>space-around</option>
                <option>space-between</option>
                <option>space-evenly</option>
              </select>
          </p>

          <p id="align-items">
              <label for="alignItems" class="code">align-items:</label>
              <select id="alignItems" data-target="container" data-prop="alignItems">
                  <option>normal</option>
                  <option>flex-start</option>
                  <option>start</option>
                  <option>flex-end</option>
                  <option>end</option>
                  <option>center</option>
                  <option>baseline</option>
                  <option>stretch</option>
                  <option>self-start</option>
                  <option>self-end</option>
              </select>
          </p>

          <p id="align-content">
              <label for="alignContent" class="code">align-content:</label>
              <select id="alignContent" data-target="container" data-prop="alignContent">
                <option selected>normal</option>
                <option>start</option>
                <option>end</option>
                <option>flex-start</option>
                <option>flex-end</option>
                <option>center</option>
                <option>normal</option>
                <option>baseline</option>
                <option>space-between</option>
                <option>space-around</option>
                <option>space-evenly</option>
                <option>stretch</option>
              </select>
          </p>

          <p id="gap">
            <label for="gap" class="code">gap:</label>
            <input type="text" id="gap" data-target="container" data-prop="gap" value="0">
          </p>

        </div>
        </details>
      </div>
    </fieldset>

    <!-- ALL FLEX ITEMS -->
    <details id="flex-items" open>
        <summary>All Flex items</summary>

        <div id="flex-prop">
            <p>
                <label for="all-flex" class="code">flex:</label>
                <input type="text" id="all-flex" value="initial" data-target="all" data-prop="flex">
            </p>

            <ul id="output-flex" class="code">
                <li><code aria-live="polite">flex-grow: 0;</code></li>
                <li><code aria-live="polite">flex-shrink: 1;</code></li>
                <li><code aria-live="polite">flex-basis: auto;</code></li>
            </ul>
        </div>
    </details>

    <!-- FLEX ITEM A CONTROLS -->
    <fieldset data-affect="alpha">
        <div>
        <legend class="trigger">A</legend>
            <details>
                <summary>Properties for <code>.alpha</code> (item A)</summary>
                <div>
                <p>
                    <label for="order-alpha" class="code">order:</label>
                    <input id="order-alpha" type="number" min="-6" max="100" value="0" data-target=".alpha" data-prop="order">
                </p>
                <p>
                    <label for="align-self-alpha" class="code">align-self:</label>
                    <select id="align-self-alpha" data-prop="alignSelf" data-target=".alpha">
                        <option>auto</option>
                        <option>flex-start</option>
                        <option>start</option>
                        <option>flex-end</option>
                        <option>end</option>
                        <option>center</option>
                        <option>baseline</option>
                        <option>stretch</option>
                    </select>
                </p>

                <p>
                    <label for="flex-alpha" class="code">flex:</label>
                    <input id="flex-alpha" type="text" data-prop="flex" data-target=".alpha">
                </p>
               
            </details>
        </div>
    </fieldset>
    <!-- END FLEX ITEM A CONTROLS -->

    <!-- FLEX ITEM B CONTROLS -->
    <fieldset data-affect="beta">
        <div>
        <legend class="trigger">B</legend>
            <details>
                <summary>Properties for <code>.beta</code> (item B)</summary>
                <div>
                <p>
                    <label for="order-beta" class="code">order:</label>
                    <input id="order-beta" type="number" min="-6" max="100" value="0" data-target=".beta" data-prop="order">
                </p>
                <p>
                    <label for="align-self-beta" class="code">align-self:</label>
                    <select id="align-self-beta" data-prop="alignSelf" data-target=".beta">
                        <option>auto</option>
                        <option>flex-start</option>
                        <option>start</option>
                        <option>flex-end</option>
                        <option>end</option>
                        <option>center</option>
                        <option>baseline</option>
                        <option>stretch</option>
                    </select>
                </p>

                <p>
                    <label for="flex-beta" class="code">flex:</label>
                    <input id="flex-beta" type="text" data-prop="flex" data-target=".beta">
                </p>
               
            </details>
        </div>
    </fieldset>
    <!-- END FLEX ITEM B CONTROLS -->

    <!-- FLEX ITEM C CONTROLS -->
    <fieldset data-affect="gamma">
        <div>
        <legend class="trigger">C</legend>
            <details>
                <summary>Properties for <code>.gamma</code> (item C)</summary>
                <div>
                <p>
                    <label for="order-gamma" class="code">order:</label>
                    <input id="order-gamma" type="number" min="-6" max="100" value="0" data-target=".gamma" data-prop="order">
                </p>
                <p>
                    <label for="align-self-gamma" class="code">align-self:</label>
                    <select id="align-self-gamma" data-prop="alignSelf" data-target=".gamma">
                        <option>auto</option>
                        <option>flex-start</option>
                        <option>start</option>
                        <option>flex-end</option>
                        <option>end</option>
                        <option>center</option>
                        <option>baseline</option>
                        <option>stretch</option>
                    </select>
                </p>

                <p>
                    <label for="flex-gamma" class="code">flex:</label>
                    <input id="flex-gamma" type="text" data-prop="flex" data-target=".gamma">
                </p>
               
            </details>
        </div>
    </fieldset>
    <!-- END FLEX ITEM C CONTROLS -->

    <!-- FLEX ITEM D CONTROLS -->
    <fieldset data-affect="delta">
        <div>
        <legend class="trigger">D</legend>
            <details>
                <summary>Properties for <code>.delta</code> (item D)</summary>
                <div>
                <p>
                    <label for="order-delta" class="code">order:</label>
                    <input id="order-delta" type="number" min="-6" max="100" value="0" data-target=".delta" data-prop="order">
                </p>
                <p>
                    <label for="align-self-delta" class="code">align-self:</label>
                    <select id="align-self-delta" data-prop="alignSelf" data-target=".delta">
                        <option>auto</option>
                        <option>flex-start</option>
                        <option>start</option>
                        <option>flex-end</option>
                        <option>end</option>
                        <option>center</option>
                        <option>baseline</option>
                        <option>stretch</option>
                    </select>
                </p>

                <p>
                    <label for="flex-delta" class="code">flex:</label>
                    <input id="flex-delta" type="text" data-prop="flex" data-target=".delta">
                </p>
               
            </details>
        </div>
    </fieldset>
    <!-- END FLEX ITEM D CONTROLS -->

    <!-- FLEX ITEM E CONTROLS -->
    <fieldset data-affect="epsilon">
        <div>
        <legend class="trigger">E</legend>
            <details>
                <summary>Properties for <code>.epsilon</code> (item E)</summary>
                <div>
                <p>
                    <label for="order-epsilon" class="code">order:</label>
                    <input id="order-epsilon" type="number" min="-6" max="100" value="0" data-target=".epsilon" data-prop="order">
                </p>
                <p>
                    <label for="align-self-epsilon" class="code">align-self:</label>
                    <select id="align-self-epsilon" data-prop="alignSelf" data-target=".epsilon">
                        <option>auto</option>
                        <option>flex-start</option>
                        <option>start</option>
                        <option>flex-end</option>
                        <option>end</option>
                        <option>center</option>
                        <option>baseline</option>
                        <option>stretch</option>
                    </select>
                </p>

                <p>
                    <label for="flex-epsilon" class="code">flex:</label>
                    <input id="flex-epsilon" type="text" data-prop="flex" data-target=".epsilon">
                </p>
               
            </details>
        </div>
    </fieldset>
    <!-- END FLEX ITEM E CONTROLS -->

    <!-- FLEX ITEM F CONTROLS -->
    <fieldset data-affect="zeta">
        <div>
        <legend class="trigger">F</legend>
            <details>
                <summary>Properties for <code>.zeta</code> (item F)</summary>
                <div>
                <p>
                    <label for="order-zeta" class="code">order:</label>
                    <input id="order-zeta" type="number" min="-6" max="100" value="0" data-target=".zeta" data-prop="order">
                </p>
                <p>
                    <label for="align-self-zeta" class="code">align-self:</label>
                    <select id="align-self-zeta" data-prop="alignSelf" data-target=".zeta">
                        <option>auto</option>
                        <option>flex-start</option>
                        <option>start</option>
                        <option>flex-end</option>
                        <option>end</option>
                        <option>center</option>
                        <option>baseline</option>
                        <option>stretch</option>
                    </select>
                </p>

                <p>
                    <label for="flex-zeta" class="code">flex:</label>
                    <input id="flex-zeta" type="text" data-prop="flex" data-target=".zeta">
                </p>
               
            </details>
        </div>
    </fieldset>
    <!-- END FLEX ITEM F CONTROLS -->

    <!-- FLEX ITEM G CONTROLS -->
    <fieldset data-affect="eta">
        <div>
        <legend class="trigger">G</legend>
            <details>
                <summary>Properties for <code>.eta</code> (item G)</summary>
                <div>
                <p>
                    <label for="order-eta" class="code">order:</label>
                    <input id="order-eta" type="number" min="-6" max="100" value="0" data-target=".eta" data-prop="order">
                </p>
                <p>
                    <label for="align-self-eta" class="code">align-self:</label>
                    <select id="align-self-eta" data-prop="alignSelf" data-target=".eta">
                        <option>auto</option>
                        <option>flex-start</option>
                        <option>start</option>
                        <option>flex-end</option>
                        <option>end</option>
                        <option>center</option>
                        <option>baseline</option>
                        <option>stretch</option>
                    </select>
                </p>

                <p>
                    <label for="flex-eta" class="code">flex:</label>
                    <input id="flex-eta" type="text" data-prop="flex" data-target=".eta">
                </p>
               
            </details>
        </div>
    </fieldset>
    <!-- END FLEX ITEM G CONTROLS -->

    <!-- FLEX ITEM H CONTROLS -->
    <fieldset data-affect="theta">
        <div>
        <legend class="trigger">H</legend>
            <details>
                <summary>Properties for <code>.theta</code> (item H)</summary>
                <div>
                <p>
                    <label for="order-theta" class="code">order:</label>
                    <input id="order-theta" type="number" min="-6" max="100" value="0" data-target=".theta" data-prop="order">
                </p>
                <p>
                    <label for="align-self-theta" class="code">align-self:</label>
                    <select id="align-self-theta" data-prop="alignSelf" data-target=".theta">
                        <option>auto</option>
                        <option>flex-start</option>
                        <option>start</option>
                        <option>flex-end</option>
                        <option>end</option>
                        <option>center</option>
                        <option>baseline</option>
                        <option>stretch</option>
                    </select>
                </p>

                <p>
                    <label for="flex-theta" class="code">flex:</label>
                    <input id="flex-theta" type="text" data-prop="flex" data-target=".theta">
                </p>
               
            </details>
        </div>
    </fieldset>
    <!-- END FLEX ITEM H CONTROLS -->

    <!-- FLEX ITEM I CONTROLS -->
    <fieldset data-affect="iota">
        <div>
        <legend class="trigger">I</legend>
            <details>
                <summary>Properties for <code>.iota</code> (item I)</summary>
                <div>
                <p>
                    <label for="order-iota" class="code">order:</label>
                    <input id="order-iota" type="number" min="-6" max="100" value="0" data-target=".iota" data-prop="order">
                </p>
                <p>
                    <label for="align-self-iota" class="code">align-self:</label>
                    <select id="align-self-iota" data-prop="alignSelf" data-target=".iota">
                        <option>auto</option>
                        <option>flex-start</option>
                        <option>start</option>
                        <option>flex-end</option>
                        <option>end</option>
                        <option>center</option>
                        <option>baseline</option>
                        <option>stretch</option>
                    </select>
                </p>

                <p>
                    <label for="flex-iota" class="code">flex:</label>
                    <input id="flex-iota" type="text" data-prop="flex" data-target=".iota">
                </p>
               
            </details>
        </div>
    </fieldset>
    <!-- END FLEX ITEM I CONTROLS -->

    </div>
     </fieldset>

     <p>
        <button type="reset">Reset</button>
     </p>
</form>
  </main>

  <!-- Global site footer -->
  <footer class="global">
    <p>Examples from <i>CSS Master</i> (3rd edition) written by Tiffany B. Brown and published by SitePoint, Ltd. &copy; 2015 &ndash; 2021.</p>
  </footer>

  <script src="/theme/js/escapereset.js"></script>

<script>
((win, doc) => {
    const form = doc.forms[0];
    const container = doc.querySelector( '.flexbox' );
    const flexItems = container.querySelectorAll( 'li' );

    const resetStyle = ( el ) => {
      el.removeAttribute('style');
    }

    const onReset = () => {
      resetStyle( container );
      flexItems.forEach( ( fi ) => resetStyle( fi ) );
      setFlexItemsFlex();
    }

    const setAllFlexItemStyles = () => {
      flexItems.forEach( ( fi ) => {
        fi.style.flex = form['all-flex'].value.trim();
      });
    }

    const updateOutput = () => {
      const style = getComputedStyle( flexItems[0] );
      const outputFlex = doc.querySelectorAll('[id=output-flex] li');

      const growShrinkBasis = [ 
        { 'flex-grow':   style.getPropertyValue('flex-grow') },
        { 'flex-shrink': style.getPropertyValue('flex-shrink') },
        { 'flex-basis':  style.getPropertyValue('flex-basis') }
      ];

      outputFlex.forEach( ( i, index ) => {
        const prop  = Object.keys( growShrinkBasis[ index ] );
        const value = Object.values( growShrinkBasis[ index ] );

        const declaration = `${ prop[0] }: ${ value[0] };`;

        i.firstChild.firstChild.replaceWith( declaration );
      });
    }

    const updateFlexItem = ( selector, prop, value ) => {
      const el = doc.querySelector( selector );
      if( !el ) return;

      el.style[ prop ] = value;
    }

    /**
     * Set the flex items' values based on the value of `#flex-all`
     */
    const setFlexItemsFlex = () => {
      /**
       * Selects input[flex-alpha] and the like.
       */
      const flexAll = form['all-flex'].value;
      const flexFields = doc.querySelectorAll(' input[id|=flex] ');

      flexFields.forEach( ( ff ) => {
        ff.value = flexAll;
      });
    }

    const onInput = ( domEvent ) => {

        const targetName = domEvent.target.dataset.target;
        const prop = domEvent.target.dataset.prop;
        const value = domEvent.target.value;

        if( targetName === 'container' ) {
          container.style[ prop ] = value;

          if( prop === 'flexWrap' ) {

            if( value !== 'nowrap' ) {
              const currentHeight = getComputedStyle( container ).getPropertyValue( 'height' );
              const newHeight = parseInt( currentHeight, 10 ) + 100;

              container.style.height = `${newHeight}px`;
            } else {
              container.style.height = 'initial';
            }

          }
        }

        else if ( targetName === 'all' ) {
          setAllFlexItemStyles();
          setFlexItemsFlex();
          updateOutput();
        }

        else {
          updateFlexItem( targetName, prop, value );
        }
    }

    form.addEventListener( 'input', onInput );
    form.addEventListener( 'reset', onReset );

    const onLoad = () => {
      form.reset(); // For Firefox
      setFlexItemsFlex();
    }
    win.addEventListener( 'load', onLoad );

})(window, document)


</script>
</body>
</html>